In [ ]:
# 1) Establish a connection between Python and the Sakila database.

In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  
password = getpass.getpass()

 ········

In [2]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [ ]:
# 2) Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) 
# from the Sakila database as a Pandas DataFrame. The function should take in three parameters:
# engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
# month: an integer representing the month for which rental data is to be retrieved.
# year: an integer representing the year for which rental data is to be retrieved.
# The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table 
# in the Sakila database, and return it as a pandas DataFrame.

In [3]:
from sqlalchemy import text

In [4]:
def rentals_month(engine, month, year):
    query = f"""
        SELECT * 
        FROM rental 
        WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    connection = engine.connect()
    rental_data = pd.read_sql(query, connection)
    connection.close()
    return rental_data

In [5]:
rental_data = rentals_month(engine, month=5, year=2005)

print(rental_data)

      rental_id         rental_date  inventory_id  customer_id  \
0             1 2005-05-24 22:53:30           367          130
1             2 2005-05-24 22:54:33          1525          459
2             3 2005-05-24 23:03:39          1711          408
3             4 2005-05-24 23:04:41          2452          333
4             5 2005-05-24 23:05:21          2079          222
...         ...                 ...           ...          ...
1151       1153 2005-05-31 21:36:44          2725          506
1152       1154 2005-05-31 21:42:09          2732           59
1153       1155 2005-05-31 22:17:11          2048          251
1154       1156 2005-05-31 22:37:34           460          106
1155       1157 2005-05-31 22:47:45          1449           61

             return_date  staff_id         last_update
0    2005-05-26 22:04:30         1 2006-02-15 21:30:53
1    2005-05-28 19:40:33         1 2006-02-15 21:30:53
2    2005-06-01 22:12:39         1 2006-02-15 21:30:53
3    2005-06-03 01:43:41         2 2006-02-15 21:30:53
4    2005-06-02 04:33:21         1 2006-02-15 21:30:53
...                  ...       ...                 ...
1151 2005-06-10 01:26:44         2 2006-02-15 21:30:53
1152 2005-06-08 16:40:09         1 2006-02-15 21:30:53
1153 2005-06-04 20:27:11         2 2006-02-15 21:30:53
1154 2005-06-01 23:02:34         2 2006-02-15 21:30:53
1155 2005-06-02 18:01:45         1 2006-02-15 21:30:53

[1156 rows x 7 columns]

In [ ]:
# 3) Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along 
# with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the 
# selected month and year.
# The function should also include the month and year as parameters and use them to name the new column according to the month and year, 
# for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

In [6]:
def rental_count_month(rental_data, month, year):
    rental_counts = rental_data.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    return rental_counts

In [7]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)

In [8]:
month = 6
year = 2005
rental_data = rentals_month(engine, month, year)

rental_counts = rental_count_month(rental_data, month, year)
print(rental_counts)

     customer_id  rentals_06_2005
0              1                7
1              2                1
2              3                4
3              4                6
4              5                5
..           ...              ...
585          595                2
586          596                2
587          597                3
588          598                1
589          599                4

[590 rows x 2 columns]

In [ ]:
# 4) Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made 
# by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, 
# which is the difference between the number of rentals in the two months.

In [9]:
def compare_rentals(rentals_df1, rentals_df2):
    merged_df = pd.merge(rentals_df1, rentals_df2, on='customer_id', how='outer')
    merged_df['difference'] = merged_df[rentals_df2.columns[-1]] - merged_df[rentals_df1.columns[-1]]  
    return merged_df

In [10]:
rental_data_1 = rentals_month(engine, month=5, year=2005)

rental_counts_1 = rental_count_month(rental_data_1, 5, 2005)

rental_data_2 = rentals_month(engine, month=6, year=2005)

rental_counts_2 = rental_count_month(rental_data_2, 6, 2005)

In [11]:
comparison_result = compare_rentals(rental_counts_1, rental_counts_2)
print(comparison_result)

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1              2.0              7.0         5.0
1              2              1.0              1.0         0.0
2              3              2.0              4.0         2.0
3              4              NaN              6.0         NaN
4              5              3.0              5.0         2.0
..           ...              ...              ...         ...
593          595              1.0              2.0         1.0
594          596              6.0              2.0        -4.0
595          597              2.0              3.0         1.0
596          598              NaN              1.0         NaN
597          599              1.0              4.0         3.0

[598 rows x 4 columns]